<section>
  <header>
    Organizer: <strong>{{dateService.date | async | moment:'DD.MMMM YYYY'}}</strong>
    <hr />
  </header>

  <main>
    <ul *ngIf="tasks.length; else noTasks">
      <li class="task" *ngFor="let task of tasks; let i = index">
        <span>
          <strong>{{i + 1}}</strong>
          {{task.title}}
        </span>
        <i class="btn btn-primary" (click)="remove(task)" class= 'material-icons'>clear</i>
    
      </li>
    </ul>
    <ng-template #noTasks>
      <p class="text-center">Noch keine Aufgaben...</p>
    </ng-template>
  </main>

  <footer>
    <form (ngSubmit)="submit()" [formGroup]="form">
      <input type="text" formControlName="title" placeholder="Aufgabe hinzufügen">

      <button
        type="submit"
        class="btn btn-primary btn-block"
        [disabled]="form.invalid"
      >Hinzufügen</button>
    </form>
  </footer>
</section>