<div class="container">
<!-- Default form contact -->

<form class="text-center border border-light p-5">

   <h4>Login</h4>
   <hr>
  
    <!-- Name -->
    <label>Name: </label>
    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">
    
  
    <!-- Email -->
    <label>E-Mail: </label>
    <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">
    <label>Passwort: </label>

    <input type="password" id="defaultContactFormEmail" class="form-control mb-4" placeholder="Passwort">
  
  

  
  
    <!-- Send button -->
    <button  type="submit"
    class="btn btn-primary btn-block">Send</button>
  
  </form>
  <!-- Default form contact -->
</div>