p {
    display: flex;
    align-items: center;
    justify-content: center;


span {
    margin: 0 2rem;
    text-align: center;
    width: 200px;
}

i {
    cursor: pointer;
}
}
table {
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
  
    td, th {
      border: 1px solid #000;
      padding: .5rem 1rem;
      text-align: center;

    }
  
    td {
      text-align: center;
      transition: all .2s;
  
      &.disabled {
        opacity: .5;
      }
  
      &:hover:not(.disabled) {
        background: #eee;
        cursor: pointer;
      }
    }
  //heutigen Tag
    .active {
      color: var(--primary-color);
      font-weight: bold;
    }
  //ausgewählten Dag
    .selected {
      color: blue;
    }
  }