<div class='container'>


<p>
    <i class="material-icons" (click)='go(-1)'>arrow_left</i>
    <span>
      {{  dateService.date | async | moment }}
    </span>

    <i class="material-icons" (click)='go(1)'>arrow_right</i>
</p>
<main>
  <table>
    <thead>
        <tr>
            <th>Montag</th>
            <th>Dienstag</th>
            <th>Mittwoch</th>
            <th>Donnerstag</th>
            <th>Freitag</th>
            <th>Samstag</th>
            <th>Sonntag</th>
        </tr>
    </thead>
    <tbody> 
        <!-- (click )tag den angecklick wurde -->
        <tr *ngFor='let week of calendar'>
            <td 
            *ngFor='let day of week.days'
            [class.disabled] = 'day.disabled'
           
            (click)='select(day.value)'>
            <span [class.selected] = 'day.selected'
            [class.active] = 'day.active'>
                {{ day.value | moment: 'ddd DD' }}
            </span>
        </td>
        </tr>
    </tbody>
</table>

</main>
<div>
  <app-organizer></app-organizer>
</div>
</div>


