
 <ul ngbNav #nav="ngbNav" class="nav-tabs"  >

    <li [ngbNavItem]="1">
      <a ngbNavLink routerLink="/" routerLinkActive="active">Kalender</a>
      <ng-template ngbNavContent>
  
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink routerLink="/todo" routerLinkActive="active">ToDo Liste</a>
      <ng-template ngbNavContent>
    
      </ng-template>
    </li>

    <li ngbDropdown class="nav-item" class="ml-auto">
        <a [ngbNavItem]="3" href (click)="false" class="nav-link" ngbDropdownToggle>Mein Kabinet</a>
        <div ngbDropdownMenu>
          <a ngbDropdownItem routerLink='/login' routerLinkActive="active">Einlogen</a>
          <a ngbDropdownItem routerLink='/register' routerLinkActive="active">Registrieren</a>
          <a ngbDropdownItem routerLink='/reset-password' routerLinkActive="active">Reset Passwort</a>
          <div class="dropdown-divider"></div>
          <a ngbDropdownItem>Log out</a>
        </div>
      </li>
   
  </ul>
  
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
 

<app-footer></app-footer>
<router-outlet></router-outlet>


